<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="object-m-n-to-json.ZPM">
    <Module>
      <Name>object-m-n-to-json</Name>
	  <Description>JSONExport class with Many to Many Relationship</Description> 
      <Version>1.0.2</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="JSONExportManyToMany.PKG"/>
    </Module>
  </Document>
</Export>
